.imageFrame
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* background-color: aliceblue; */
    width: auto;
    height: auto;
    position: relative;
    transform: scale(0.6);    
}

.frameElement
{
    width: 1000px;
    height: 800px;
    position: absolute;
    overflow: hidden;
    opacity: 50%;
    z-index: 2;
}

.filmLayer
{
    width: 800px;
    height: 600px;
    overflow: hidden;
    z-index: 1;
}